@import '../../global-sass/estilosCompartidos';
@import '../../global-sass/variables.scss';

.column{
    color:$white;
    float:left;
    background-color: $skyblue;
    width: 23%;
    height: 92vh;
}
.table-second{
    margin: 5px;
}
.table-column{
    margin-left: 5%;
    font-size: 13px;
    margin-bottom: 3%;
}
.little-space{
    background-color:$skyblue;
}
.container-column{
    text-align: center;
}
.main-title-column{
    color:$blue;
    margin-top: 1px;
    margin-bottom: 0px;
}
.titulo-column{
    font-size:12px;
    margin-top: 3px;
    margin-bottom: 0;
}

td{
    background-color: #2a8eab;
}

.normal-font{
    font-weight: normal;
}
.column-header{
    color:$blue;
    border-bottom: solid;
}
.btn-salir{
    @include boton;
    background-color: $blue;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
.rbc-event{
    background-color: $orange;
}


.modal-final{
    display:contents;
    position:fixed;
    top:-100vh;
    left:0;
    z-index:99999999;
    background: rgba(0,0,0,0.75);
    width:100vw;
    height:100vh;
    opacity:0;
    transition:opacity 0.35 ease;
}
.modal-final .content-modal-final{
    width:100%;
    max-width:500px;
    position:fixed;
    left:50%;
    top:-100vh;
    transition:top 0.35s ease;
    margin-left: -250px;
    background: $white;
    box-shadow:0 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    z-index:9999999;
}

.modal-final article{
    height: 300px;
    background:$orange;
}

.close-modal-final{
    color:$skyblue;
    position:absolute;
    top: 0.2em;
    right:0.375em;
    margin:0;
    padding:5px;
    font-weight:bold;
    font-size: 1.5em;
    text-decoration: none;
}

.modal-final a:hover{
    color:$orange;
}

.modal-final:target .content-modal-final{
    top:50px;
    transition: top 0.35s ease;
}