@import '../../global-sass/estilosCompartidos';
@import '../../global-sass/variables.scss';

header{
    @include definirAnchoAlto(100%, 60px);
    background: $blue;
    display: flex;
}
.containerLogo{
    @include definirAnchoAlto(10%, 100%);
    @include definirColores($orange, $white);
    font-size: 1.2rem;
    font-weight: bold;
    @include justifyContent(center);
}
.containerIniciarSesion{
    width: 90%;
    @include justifyContent(flex-end);
}
.linkHome{
    font-size: 1rem;
    color: $white;
}
.preguntasFrecuentes{
    @include definirAnchoAlto(20%, 100%);
    @include justifyItems(center);
}
.iniciarSesion{
    @include definirAnchoAlto(10%, 100%);
    @include justifyItems(center);
}
a:link, a:visited, a:active {
    text-decoration:none;
}