header{
    width: 100%;
    height: 60px;
    display: flex;
    background: #003459;
}
.containerLogo{
    width: 10%;
    height: 100%;
    background: #ff4242;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.containerIniciarSesion{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.linkHome{
    font-size: 1rem;
    color: #ffffff;
}
.preguntasFrecuentes{
    width: 20%;
    height: 100%;
    display: flex;
    justify-items: center;
}
.iniciarSesion{
    width: 10%;
    height: 100%;
    display: flex;
    justify-items: center;
}
a:link, a:visited, a:active {
    text-decoration:none;
}