@import '../../global-sass/estilosCompartidos';
@import '../../global-sass/variables.scss';
.month-back{
    @include definirColores($skyblue, $white);
    max-width: 22vw;
    height: 30vh;
    margin: auto;
}
.month-back .rbc-calendar .rbc-toolbar .rbc-btn-group{
    display:none;
}

