@import '../../global-sass/estilosCompartidos';
@import '../../global-sass/variables.scss';

*{
    font-family: 'Open Sans', sans-serif;
}
.containerForm{
    @include definirAnchoAlto(35%, 70%);
    background: $white;
    border-radius: 15px;
}
.divheaderForm{
    @include definirAnchoAlto(100%, 25%);
    @include definirColores($skyblue, $white);
    border-radius: 15px 15px 0 0;
    @include justifyContent(center);
    flex-direction: column;
    align-items: center;
}
.containerLogoForm{
    width: auto;
    @include justifyContent(center);
    margin-bottom: 2%;
}
form{
    @include definirAnchoAlto(90%, 55%);
    @include justifyContent(center);
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.nameInput{
    height: 10%;
    color: $blue;
    font-size: 0.7rem;
    margin-top: 5%;
}
.inputProduct, .inputProgram{
    height: 25%;
}
.loginSelect{
    @include definirAnchoAlto(200px, 20px);
    @include definirColores(#d61e1e, #DBDBDB);
    border: 0;
}
.loginSelect:focus {
    outline: none;
}
.selecFecha{
    @include definirAnchoAlto(80%, 40%);
    @include flexDirection(row);
    justify-content: space-around;
}
.inputDate{
    @include definirAnchoAlto(100px, 20px);
    @include definirColores(#DBDBDB, $blue);
    border: 0;
}
.sectionBotones{
    @include definirAnchoAlto(100%, 20%);
    @include definirColores($blue, $white);
    border-radius: 0 0 15px 15px;
    @include justifyContent(space-around);
    align-items: center;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.btnVerificarReservaForm{
    @include definirColores($orange, $white);
}
.btnCancelarForm{
    @include definirColores($skyblue, $white);
}
.btnVerificarReservaForm, .btnCancelarForm{
    width: 35%;
    border: 0;
    padding: 1%;
    font-size: 1rem;
    border-radius: 15px;
    text-align: center;
}
.inputDate:focus {outline: none;}
.btnVerificarReservaForm:focus {outline: none;}
.btnCancelarForm :focus {outline: none;}
.autoComplete{
    @include definirColores(#F1EBEB, $blue);
    margin: 3px;
    border-bottom: 1px solid #DBDBDB;
}