@import '../../global-sass/estilosCompartidos';
@import '../../global-sass/variables.scss';

*{
    font-family: 'Open Sans', sans-serif;
}
.containerForm{
    @include definirAnchoAlto(35%, 70%);
    // padding: 2%;
    background: $white;
    border-radius: 15px;
}
.divheaderForm{
    @include definirAnchoAlto(100%, 25%);
    @include definirColores($skyblue, $white);
    border-radius: 15px 15px 0 0;
    @include justifyContent(center);
    flex-direction: column;
    align-items: center;
}
.containerLogoForm{
    width: auto;
    @include justifyContent(center);
    margin-bottom: 2%;
}
form{
    @include definirAnchoAlto(90%, 55%);
    @include justifyContent(center);
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.nameInput{
    height: 10%;
    color: $blue;
    font-size: 0.7rem;
    margin-top: 5%;
}
.inputProduct, .inputProgram{
    height: 25%;
}
.loginSelect{
    width: 200px;
    height: 20px;
    background: #d61e1e;
    color: #DBDBDB;
    border: 0;
}
.loginSelect:focus {
        outline: none;
    }
.selecFecha{
    width: 80%;
    height: 40%;
    @include flexDirection(row);
    justify-content: space-around;
}
.inputDate{
    width: 100px;
    height: 20px;
    background-color: #DBDBDB;
    color: $blue;
    border: 0;
}
.sectionBotones{
    width: 100%;
    height: 20%;
    background: $blue;
    color: $white;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.btnVerificarReserva{
    @include definirColores($skyblue, $white);
}
.btnCancelar{
    @include definirColores($orange, $white);
}
.btnVerificarReserva, .btnCancelar{
    width: 35%;
    border: 0;
    padding: 1%;
    font-size: 1rem;
    border-radius: 15px;
    text-align: center;
}
.inputDate, .btnVerificarReserva, .btnCancelar :focus {
    outline: none;
}
