@import '../../global-sass/estilosCompartidos';
@import '../../global-sass/variables.scss';

html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
}
.pcalendar-body{
    display: flex;
     width: 100%;
}
