@import '../../global-sass/estilosCompartidos';
@import '../../global-sass/variables.scss';

html, body{
    height:100%;
    margin:0;
    @include flexDirection(column);
}
.pcalendar-body{
    display: flex;
    width: 100%;
}

