@import "../../global-sass/_estilosCompartidos.scss";
@import "../../global-sass/variables.scss";
*{
    font-family: 'Open Sans', sans-serif;
}
html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
  }
.background-login{
    background-image:url(../styles/assets/1.png);
    width:100%;
    height:100%;
    background-size: cover;
    background-position: top;
    background-repeat: round;
    transition: 1s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url(../styles/assets/1.png);
    }20%{
        background-image: url(../styles/assets/2.png);
    }40%{
        background-image: url(../styles/assets/3.png);
    }60%{
        background-image: url(../styles/assets/4.png);
    }80%{
        background-image: url(../styles/assets/5.png);
    }100%{
        background-image: url(../styles/assets/6.png);
    }
}

.login{
    background-color: $white;
    width: 30%;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    box-sizing: border-box;
}
.login-header{
    box-sizing: border-box;
    background-color: $blue;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.miniLogo{
    margin: auto;
    width: 100px;
};
.anuncia{
    font-size: 1rem;
}
.area{
    font-size: 0.6rem;
    margin-bottom: 2%;
}
.login-form{
    box-sizing: border-box;
    font-size: 10px;
    color: $blue;
    text-align: center;
}
.login-select{
    height: 30px;
    width: 200px;
    background-color: #C4C4C4;
    color: #898686;;
    border-width: THIN;
    border: 0;
}
.login-select:focus {
    outline: none;
}
.login-button{
    color:$white;
    font-weight: bold;
    background-color: $orange;
    border-width: thin;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 54px;
    margin-right: 54px;
    margin-top: 20px;
    border: 0;
}
.login-button:focus {
    outline: none;
}
.login-register{
    font-size: 12px;
    padding-bottom: 15px;
    text-align: center;
}